<h2>Create a New Message</h2>

<form action="/messages" method="post">
  <input type="text" name="message[body]" placeholder="Enter your message" />
  <input type="text" name="item[condition]" placeholder="condition" />
  <input type="text" name="item[description]" placeholder="condition" />
  <input type="text" name="item[start_at]" placeholder="Start Time" />
  <input type="text" name="item[end_at]" placeholder="End Time" />
  <input type="submit" value="List Your item">
</form>
