.board {
  background-color: black;
  border: 2px solid blue;
  height:580px;
  width: 600px;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
}


#pacman {
  width: 22px;
  height: 22px;
  position: relative;
  left: 105px;
  bottom: 267px;
}

#maze {
  positon: relative;
  /*margin: auto;*/
}
#ghosts {
  width: 70px;
  height: 70px;
  position: relative;
  left: 265px;
  top: 238px;
}

#title {
 text-align: center;
 color: purple;
}

.container {

}
